doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: https://ogp.me/ns/website#")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ブログ一覧
    meta(name="description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(name="format-detection" content="telephone=no")
    meta(property="og:title" content="ブログ一覧")
    meta(property="og:type" content="article")
    meta(property="og:description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(property="og:url" content="このページのURL")
    meta(property="og:image" content="https://cat-bell.toshikilog.net/img/ogp.jpg")
    meta(property="og:locale" content="ja_JP")
    meta(property="og:site_name" content="CAT BELL")
    meta(property="fb:app_id" content="FacebookID")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@ユーザー名")
    script.
      (function(d) {
      var config = {
        kitId: 'yxe4bgl',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    script(src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js")
    script.
      (function () {
      let ua = navigator.userAgent
      let sp = ua.indexOf('iPhone') > -1 || (ua.indexOf('Android') > -1 && ua.indexOf('Mobile') > -1)
      let tab = !sp && (ua.indexOf('iPad') > -1 || (ua.indexOf('Macintosh') > -1 && 'ontouchend' in document) || ua.indexOf('Android') > -1)
      new ViewportExtra(tab ? 1200 : 375) })()
    link(rel="icon" href="絶対パスで指定")
    link(rel="apple-touch-icon" sizes="180x180" href="絶対パスで指定")
    link(rel="stylesheet", href="./css/style.css?ver")
  body.ly_under.hp-pt0.ly_blogWrapper.js_noScroll
    div#js_loading.el_loading
      img(src="img/common/ajax-loader.gif", alt="loader")
    header.ly_header.js_headerScroll
      div.ly_headerInner
        h1.el_lv1Heading
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
        nav.bl_headerNav.js_headerNav
          ul.bl_headerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
        button(type="button").el_drawerBtn.js_drawerBtn
          span.el_drawerLine
          span.el_visuallyHidden メニューを開閉する
    div.ly_breadcrumbWrapper
      ol.bl_breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="index.html" itemprop="item")
            span(itemprop="name") ホーム
          meta(itemprop="position" content=1)
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="archive-blog.html" itemprop="item")
            span(itemprop="name") ブログ一覧
          meta(itemprop="position" content=2)
    div.ly_blogInner
      main.ly_main
        ul.bl_blogList
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/00.jpg")
              div.bl_blogMedia_body
                time(datetime="2022-02-24") 2022.02.24
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink 猫にまつわるヒーリング効果とは！？プレゼントキャンペーンも実施中♪
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #プレゼント
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #キャンペーン
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/01.jpg")
              div.bl_blogMedia_body
                time(datetime="") 2-22-02.22
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあが、あらゆる物事と実際に接点を持…
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒されて♪ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒…
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #キャンペーン
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/02.jpg")
              div.bl_blogMedia_body
                time(datetime="2022-02-22") 2022.02.22
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあが、あらゆる物事と実際に接点を持…
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink 【新宿店】ポイント2倍Day！この機会をお見逃しなく！
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ポイントDay
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/03.jpg")
              div.bl_blogMedia_body
                time(datetime="2022-01-04") 2022.01.04
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink 新年SEAL！療法食10%OFF
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #プレゼント
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ごはん
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/04.jpg")
              div.bl_blogMedia_body
                time(datetime="2021-12-20") 2021.12.20
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあが、あらゆる物事と実際に接点を持…
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink 新入りさん紹介★穏やかで甘え上手なスコティッシュフォールド
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #新入りさん
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/01.jpg")
              div.bl_blogMedia_body
                time(datetime="") 2-22-02.22
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあが、あらゆる物事と実際に接点を持…
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒されて♪ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒…
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #キャンペーン
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
          li.bl_blogMedia_contents
            article
              figure.bl_blogMedia_thumb
                img(src="img/blog/02.jpg")
              div.bl_blogMedia_body
                time(datetime="2022-02-22") 2022.02.22
                p.bl_blogMedia_txt 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあが、あらゆる物事と実際に接点を持…
                h2.bl_blogMedia_ttl
                  a(href="single-blog.html").bl_blogMedia_ttlLink 【新宿店】ポイント2倍Day！この機会をお見逃しなく！
                ul.blogMedia_tag
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ポイントDay
                  li.blogMedia_tagList
                    a(href="").blogMedia_tagLink #ヘルスケア
        nav.bl_pager
          ul.bl_pager_inner
            li
              span.bl_pager_link.is_active 1
            li
              a(href="").bl_pager_link 2
            li
              a(href="").bl_pager_link 3
            li
              a(href="").bl_pager_link 4
            li
              a(href="").bl_pager_link 5

      aside.ly_aside
        h3.bl_asideHead_pickUp ピックアップ
        ul.bl_asideBlog_list
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/01.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒されて♪
                time(datetime="2022-02-22") 2022.02.22
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/02.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") 【新宿店】ポイント2倍Day！この機会をお見逃しなく！
                time(datetime="2022-02-02") 2022.02.02
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/03.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") 新年SEAL！療法食10%OFF
                time(datetime="2022-01-04") 2022.01.04
        h3.bl_asideHead_keyWord キーワード
        ul.bl_asideKey_wordList
          li
            a(href="").bl_asideKey_wordLink #ヘルスケア
          li
            a(href="").bl_asideKey_wordLink #新入りさん
          li
            a(href="").bl_asideKey_wordLink #里親募集
          li
            a(href="").bl_asideKey_wordLink #キャンペーン
          li
            a(href="").bl_asideKey_wordLink #プレゼント
          li
            a(href="").bl_asideKey_wordLink #ポイントDay
          li
            a(href="").bl_asideKey_wordLink #ごはん
          li
            a(href="").bl_asideKey_wordLink #おやつ
    footer.ly_footer
      div.ly_footerInner
        div.bl_footerContent
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
          ul.bl_footerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
            li
              a(href="https://github.com/totototosshii/cat-bell" target="_blank" rel="noopener noreferrer").hp_ghLink ソースコード（GitHub）
        small &copy; 2020-2022 CAT BELL Co., Ltd.
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./js/bundle.js?ver")
