doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: https://ogp.me/ns/website#")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 支店の猫一覧
    meta(name="description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(name="format-detection" content="telephone=no")
    meta(property="og:title" content="支店の猫一覧")
    meta(property="og:type" content="article")
    meta(property="og:description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(property="og:url" content="このページのURL")
    meta(property="og:image" content="絶対パスで指定（1200×630以上推奨）")
    meta(property="og:locale" content="ja_JP")
    meta(property="og:site_name" content="CAT BELL")
    meta(property="fb:app_id" content="FacebookID")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@ユーザー名")
    script.
      (function(d) {
      var config = {
        kitId: 'yxe4bgl',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    script(src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js")
    script.
      (function () {
      let ua = navigator.userAgent
      let sp = ua.indexOf('iPhone') > -1 || (ua.indexOf('Android') > -1 && ua.indexOf('Mobile') > -1)
      let tab = !sp && (ua.indexOf('iPad') > -1 || (ua.indexOf('Macintosh') > -1 && 'ontouchend' in document) || ua.indexOf('Android') > -1)
      new ViewportExtra(tab ? 1200 : 375) })()
    link(rel="icon" href="絶対パスで指定")
    link(rel="apple-touch-icon" sizes="180x180" href="絶対パスで指定")
    link(rel="stylesheet", href="./css/style.css?ver")
  body.ly_under.js_noScroll
    header.ly_header.js_headerScroll
      div.ly_headerInner
        h1.el_lv1Heading
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
        nav.bl_headerNav.js_headerNav
          ul.bl_headerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
        button(type="button").el_drawerBtn.js_drawerBtn
          span.el_drawerLine
          span.el_visuallyHidden メニューを開閉する

    main.ly_main.ly_shopPet
      ol.bl_breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="index.html" itemprop="item")
            span(itemprop="name") ホーム
          meta(itemprop="position" content=1)
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="archive-pet.html" itemprop="item")
            span(itemprop="name") 猫種一覧
          meta(itemprop="position" content=2)
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="archive.html" itemprop="item")
            span(itemprop="name") 新宿店の猫ちゃん一覧
          meta(itemprop="position" content=3)
      section.ly_section.ly_section__shopCat_list
        div.ly_sectionInner
          h2.el_lv2Heading 新宿店の猫ちゃん一覧
          ul.bl_MediaList
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_01.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_02.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_03.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_01.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_02.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_03.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_01.jpg", alt="" width="376" height="264")
            li.bl_Media
              div.bl_mediaBody
                h3.bl_mediaTtl アメリカンショートヘア
                dl
                  div
                    dt 生年月日
                    dd 2022.02.22
                  div
                    dt 性別
                    dd オス
                  div
                    dt 生体価格
                    dd
                      span 368,800
                      | 円（税抜）
                a(href="single.html").el_btn.el_btn__catDetail この猫を詳しく見る
              figure.bl_Media_imgWrapper
                img(src="img/typeNarrowDown_list/americanShorthair_02.jpg", alt="" width="376" height="264")
          nav.bl_pager
            ul.bl_pager_inner
              li
                span.bl_pager_link.is_active 1
              li
                a(href="").bl_pager_link 2
              li
                a(href="").bl_pager_link 3
              li
                a(href="").bl_pager_link 4
              li
                a(href="").bl_pager_link 5
      section.ly_section.ly_section__shopDetail
        div.ly_sectionInner.hp_mw876
          div.bl_halfMedia.bl_shopPet
            div.bl_halfMedia_body
              h3.bl_halfMedia_ttl 新宿店
              dl.bl_basicInfo_wrap
                div.bl_basicInfo
                  dt 住所
                  dd 東京都新宿区西新宿2-22-2キャットベル
                div.bl_basicInfo
                  dt TEL
                  dd 22-2222-2222
                div.bl_basicInfo
                  dt 営業時間
                  dd 平日11：00～19:30/土日祝11:00～20：00
                div.bl_basicInfo
                  dt
                  dd 休日：年中無休
              span.el_btn.el_btn__shopDetail
                span.el_tooltipTxt リンクは先は無し
                | この猫のお取扱い店舗を見る
            figure.bl_halfMedia_imgWrapper
              img(src="img/shoplist/sinjyuku.jpg", alt="")
    footer.ly_footer
      div.ly_footerInner
        div.bl_footerContent
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
          ul.bl_footerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
        small &copy; 2020-2022 CAT BELL Co., Ltd.
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./js/bundle.js?ver")
