doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: https://ogp.me/ns/website#")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ブログ詳細
    meta(name="description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(name="format-detection" content="telephone=no")
    meta(property="og:title" content="ブログ詳細")
    meta(property="og:type" content="article")
    meta(property="og:description" content="猫と暮らそう 安心・安全な猫専門ペットショップ")
    meta(property="og:url" content="このページのURL")
    meta(property="og:image" content="絶対パスで指定（1200×630以上推奨）")
    meta(property="og:locale" content="ja_JP")
    meta(property="og:site_name" content="CAT BELL")
    meta(property="fb:app_id" content="FacebookID")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@ユーザー名")
    script.
      (function(d) {
      var config = {
        kitId: 'yxe4bgl',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    script(src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js")
    script.
      (function () {
      let ua = navigator.userAgent
      let sp = ua.indexOf('iPhone') > -1 || (ua.indexOf('Android') > -1 && ua.indexOf('Mobile') > -1)
      let tab = !sp && (ua.indexOf('iPad') > -1 || (ua.indexOf('Macintosh') > -1 && 'ontouchend' in document) || ua.indexOf('Android') > -1)
      new ViewportExtra(tab ? 1200 : 375) })()
    link(rel="icon" href="絶対パスで指定")
    link(rel="apple-touch-icon" sizes="180x180" href="絶対パスで指定")
    link(rel="stylesheet", href="./css/style.css?ver")
  body.ly_under.hp-pt0.ly_blogWrapper.js_noScroll
    header.ly_header.js_headerScroll
      div.ly_headerInner
        h1.el_lv1Heading
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
        nav.bl_headerNav.js_headerNav
          ul.bl_headerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
        button(type="button").el_drawerBtn.js_drawerBtn
          span.el_drawerLine
          span.el_visuallyHidden メニューを開閉する
    div.ly_breadcrumbWrapper
      ol.bl_breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="index.html" itemprop="item")
            span(itemprop="name") ホーム
          meta(itemprop="position" content=1)
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="archive-blog.html" itemprop="item")
            span(itemprop="name") ブログ一覧
          meta(itemprop="position" content=2)
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(href="single-blog.html" itemprop="item")
            span(itemprop="name") 猫にまつわるヒーリング効果とは！？プレゼントキャンペーンも実施中♪
          meta(itemprop="position" content=3)
    div.ly_blogInner
      main.ly_main.ly_blogSingle
        article.bl_blogMedia_detail
          div.bl_blogMedia_thumb
            figure.bl_blogMedia_inner
              img(src="img/blog/00.jpg")
          div.bl_blogMedia_body
            time(date-time="2022.02.24") 2022.02.24
            h2.bl_blogMedia_ttlH2 猫にまつわるヒーリング効果とは！？プレゼントキャンペーンも実施中♪
            h3.bl_blogMedia_ttlH3 猫にまつわるヒーリング効果とは！？
            p.bl_blogMedia_letter 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
            p.bl_blogMedia_letter 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
            p.bl_blogMedia_letter 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
            h3.bl_blogMedia_ttlH3 プレゼントキャンペーンも実施中♪
            img(src="img/blogDetail/InsertImage01.jpg")
            p.bl_blogMedia_letter 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
            p.bl_blogMedia_letter 人とコミュニケーションをとること、物理的に触れたり、間接的に感じたりすることが、今や遠隔で完結できるようになった。もともと「繋がり」という形を持たない結びつきではあるが、あらゆる物事と実際に接点を持つ場面がが減っている中、生身の身体が受け取る感覚はこれからどんなふうに変わっていくのだろうか。
            ul.blogMedia_tag
              li.blogMedia_tagList
                a(href="").blogMedia_tagLink #ヘルスケア
              li.blogMedia_tagList
                a(href="").blogMedia_tagLink #プレゼント
              li.blogMedia_tagList
                a(href="").blogMedia_tagLink #キャンペーン
        section.ly_section.ly_section__shopDetail
          div.ly_sectionInner
            div.bl_halfMedia_shop
              div.bl_halfMedia_body
                h3.bl_halfMedia_ttl 新宿店
                dl.bl_basicInfo_wrap
                  div.bl_basicInfo
                    dt 住所
                    dd 東京都新宿区西新宿2-22-2キャットベル
                  div.bl_basicInfo
                    dt TEL
                    dd 22-2222-2222
                  div.bl_basicInfo
                    dt 営業時間
                    dd 平日11：00～19:30/土日祝11:00～20：00
                  div.bl_basicInfo
                    dt
                    dd 休日：年中無休
              figure.bl_halfMedia_imgWrapper
                img(src="img/shoplist/sinjyuku.jpg", alt="")
            span.el_btn.el_btn__shopLink
              span.el_tooltipTxt リンクは先は無し
              | この猫のお取扱い店舗を見る
        section.ly_section.ly_section__newPost
          div.ly_sectionInner
            h3.bl_cardUnit__col4Ttl
            ul.bl_cardUnit.bl_cardUnit__col4newPost
              li.bl_card
                time(datetime="2022.02.24").bl_card_time 2022.02.24
                h3.bl_card_ttl
                  a(href="single-blog.html").bl_card_link ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒…
                figure.bl_card_imgWrapper
                  img(src="img/blog/00.jpg", alt="")
              li.bl_card
                time(datetime="2022.02.22").bl_card_time 2022.02.22
                h3.bl_card_ttl
                  a(href="single-blog.html").bl_card_link ポイント2倍Day！この機会をお見逃しなく！
                figure.bl_card_imgWrapper
                  img(src="img/blog/01.jpg", alt="")
              li.bl_card
                time(datetime="2021.12.24").bl_card_time 2021.12.24
                h3.bl_card_ttl
                  a(href="single-blog.html").bl_card_link 新年SEAL！療法食10%OFF
                figure.bl_card_imgWrapper
                  img(src="img/blog/02.jpg", alt="")
              li.bl_card
                time(datetime="2021.12.24").bl_card_time 2021.12.24
                h3.bl_card_ttl
                  a(href="single-blog.html").bl_card_link 新入りさん紹介★穏やかで甘え上手なスコティッシュフォ…
                figure.bl_card_imgWrapper
                  img(src="img/blog/03.jpg", alt="")
            span.el_btn.el_btn__archive
              span.el_tooltipTxt リンクは先は無し
              | この店舗のブログを見る
      aside.ly_aside.hp_pt475
        h3.bl_asideHead_pickUp ピックアップ
        ul.bl_asideBlog_list
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/01.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") ねこの日★祝！レア種も仲間入り、ふれあいコーナーで癒されて♪
                time(date-time="2022.02.22") 2022.02.22
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/02.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") 【新宿店】ポイント2倍Day！この機会をお見逃しなく！
                time(date-time="2022.02.02") 2022.02.02
          li.bl_asideBlog_contents
            article
              figure.bl_asideBlog_thumb
                img(src="img/blog/03.jpg")
              div.bl_asideBlog_body
                h4.bl_asideBlog_ttl
                  a(href="single-blog.html") 新年SEAL！療法食10%OFF
                time(date-time="2022.01.04") 2022.01.04
        h3.bl_asideHead_keyWord キーワード
        ul.bl_asideKey_wordList
          li
            a(href="").bl_asideKey_wordLink #ヘルスケア
          li
            a(href="").bl_asideKey_wordLink #新入りさん
          li
            a(href="").bl_asideKey_wordLink #里親募集
          li
            a(href="").bl_asideKey_wordLink #キャンペーン
          li
            a(href="").bl_asideKey_wordLink #プレゼント
          li
            a(href="").bl_asideKey_wordLink #ポイントDay
          li
            a(href="").bl_asideKey_wordLink #ごはん
          li
            a(href="").bl_asideKey_wordLink #おやつ
    footer.ly_footer
      div.ly_footerInner
        div.bl_footerContent
          a(href="index.html")
            img(src="img/home/logo.svg", alt="CAT BELL")
          ul.bl_footerList
            li
              a(href="archive-pet.html") ペットを探す
            li
              a(href="https://cat-bell.toshikilog.net/#shop") お店を探す
            li
              a(href="archive-blog.html") ブログ一覧
        small &copy; 2020-2022 CAT BELL Co., Ltd.
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./js/bundle.js?ver")
